{% extends 'modi/base.html' %}


{% block title %}Zresetuj hasło{% endblock %}

{% block top_bar_content %}
<li class="breadcrumb-item "></li>
<li class="breadcrumb-item text-truncate text-light p-0">
    MODi - My Own Dictionary
</li>
{% endblock %}

{% block side_bar_content %}
{% endblock %}
    
{% block main_content %}
{% if validlink %}
<form class="border border-2 border-success mt-1 p-1 m-md-4 p-md-4 rounded-3 w-50 w-lg-auto-none" action="." method="post">
    {% csrf_token %}
    <label class="form-label fs-3" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
    {{ form.new_password1 }}
    <label class="form-label fs-3" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
    {{ form.new_password2 }}
    <input class="btn btn-lg btn-success mt-2 w-md-100-none" type="submit" value="Zresetuj">
</form>
{% else %}
<div class="border border-2 border-success mt-1 p-1 m-md-4 p-md-4 rounded-3 w-50 w-lg-auto-none fs-4">
    Coś poszło nie tak.
</div>

{% endif %}
{% endblock %}
