{% extends 'modi/base.html' %}


{% block title %}Zmień hasło{% endblock %}

{% block top_bar_content %}
<li class="breadcrumb-item "></li>
<li class="breadcrumb-item mw-50 text-truncate text-light">
    <a class="text-light" href="{% url 'accounts:account' user.username %}">Konto</a>
</li>
<li class="breadcrumb-item mw-50 text-truncate text-light p-0">
    Zmień hasło
</li>
{% endblock %}

{% block side_bar_content %}
<a class="bottombar-button col col-md-1 btn btn-outline-light mx-md-0 mt-md-1 w-md-95 me-1 d-flex h-md-52px-none" href="{% url 'accounts:account_email_update' user.username %}">
    <span class="m-auto">Edytuj email</span>
</a>
<a class="bottombar-button col col-md-1 btn btn-outline-light mx-md-0 mt-md-1 w-md-95 me-1 d-flex h-md-52px-none" href="{% url 'accounts:account_delete' user.username %}">
    <span class="m-auto">Usuń konto</span>
</a>
{% endblock %}
    
{% block main_content %}
<form class="border border-2 border-success mt-1 p-1 m-md-4 p-md-4 rounded-3 w-50 w-lg-auto-none" action="." method="post">
    {% csrf_token %}
    <label class="form-label fs-3" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
    {{ form.old_password }}
    <label class="form-label fs-3" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
    {{ form.new_password1 }}
    <label class="form-label fs-3" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
    {{ form.new_password2 }}
    <input class="btn btn-lg btn-success mt-2 w-md-100-none" type="submit" value="Zmień hasło">
</form>
{% endblock %}
