{% extends 'modi/base.html' %}


{% block title %}Zarejestruj się{% endblock %}

{% block top_bar_content %}
<li class="breadcrumb-item "></li>
<li class="breadcrumb-item text-truncate text-light p-0">
    MODi - My Own Dictionary
</li>
{% endblock %}

{% block side_bar_content %}
{% endblock %}

{% block main_content %}
<form class="border border-2 border-success mt-1 p-1 m-md-4 p-md-4 rounded-3 w-50 w-lg-auto-none mb-n64px" action="." method="post">
    {% csrf_token %}
    <label class="form-label fs-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
    {{ form.username }}
    <label class="form-label fs-3" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
    {{ form.email }}
    <label class="form-label fs-3" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
    {{ form.password1 }}
    <label class="form-label fs-3" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
    {{ form.password2 }}
    <input class="btn btn-lg btn-success mt-2 w-md-100-none" type="submit" value="Zarejestruj się">
</form>
{% endblock %}
